### Working with List

In [1]:
li = [ 1 , 2 , 3 ]
li[0]

1

In [2]:
len(li)

3

In [3]:
for i in li:
    print(i)

1
2
3

In [4]:
li.append("Dhaval")
li

[1, 2, 3, 'Dhaval']

In [5]:
li.insert(2,"Ravi")
li

[1, 2, 'Ravi', 3, 'Dhaval']

In [6]:
li.pop()

'Dhaval'

In [7]:
li.remove("Ravi")
li

[1, 2, 3]

In [8]:
li.extend([-1,-2])
li

[1, 2, 3, -1, -2]

In [9]:
print(sorted(li))
print(li)

[-2, -1, 1, 2, 3]
[1, 2, 3, -1, -2]

In [10]:
li.sort()
li

[-2, -1, 1, 2, 3]

### Working with Dictionary

In [11]:
di = {'name':'xyz','age':20}
type(di)

dict

In [12]:
di["age"]

20

In [13]:
di["stream"]="cs"
di

{'age': 20, 'name': 'xyz', 'stream': 'cs'}

In [14]:
del di['age']
di

{'name': 'xyz', 'stream': 'cs'}

### Working with sets

In [15]:
setA = set([1,2,3,4,5,6,7])
setA

{1, 2, 3, 4, 5, 6, 7}

In [16]:
setA.add('A')
setA

{1, 2, 3, 4, 5, 6, 7, 'A'}

In [17]:
setA.discard(1) # or setA.remove(1)
setA

{2, 3, 4, 5, 6, 7, 'A'}

In [18]:
setB = set([2,3,4,5,6,7])
setA.issuperset(setB)

True

In [19]:
setB.issubset(setA)

True

In [20]:
setB.remove(2)
setB

{3, 4, 5, 6, 7}

In [21]:
setC = setA - setB
setC

{2, 'A'}